<div class="">
    <div class="row">
        {{#each idols}}
        <div class="col-sm-6 col-lg-4 mt-3">
            <div class="card">
                <img src="{{this.image}}" alt="" class="thumb-post-img">
                <div class="card-body">
                    <a href="/idols/{{this.slug}}" class="href">
                    <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="maxlength-description">{{this.description}}</p>
                    <a href="/idols/{{this.slug}}" class="btn btn-primary">59.99$</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>